@{
    ViewData["Title"] = "Home Page";
}

<main>
       <div class="row">
                <article class="note transition shadowHover">
                    <h2>Menu</h2>
                    <p class="center emphatize">
                        <a href="/Countries"> Contact</a>
                    </p>
                </article>
       </div>
</main>
